.main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #EEF5FF;
}

.center {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4rem 0;
}